In [111]:
# Data Quality Check, Transformation, and Modeling

#In this part, we will perform the following tasks:

#1. **Data Quality Check:**
#   - Check for missing values, duplicates, and outliers.
#   - Validate data types and formats.
#   - Ensure consistency and integrity of data across different columns.

#2. **Transformation and Manipulation:**
#   - Clean and preprocess the data as needed.
#   - Perform transformations such as aggregations, joins, and calculations.
#   - Handle any inconsistencies or discrepancies in the data.

#3. **Data Modeling:**
#   - Define the structure of our data model based on the requirements.
#   - Identify entities, attributes, and relationships.
#   - Design the schema for our data model (e.g., star schema, snowflake schema).
#   - Create appropriate measures and dimensions for analysis.

In [182]:
import pandas as pd

In [183]:
df = pd.read_csv('SampleDataset.csv')

In [184]:
print(df);

          Date              name Scenario        Figure       Value  \
0     2/1/2019  Rate (Mt.EFH Km)   Actual         Month  6512.41596
1     2/1/2019  Rate (Mt.EFH Km)   Actual         Month  6512.41596
2     2/1/2019  Rate (Mt.EFH Km)   Actual  Year-To-Date  3448.19628
3     2/1/2019       Utility (%)   Actual         Month    81.60000
4     2/1/2019       Utility (%)     Plan  Year-To-Date    71.42400
...        ...               ...      ...           ...         ...
3021       NaN               NaN      NaN           NaN         NaN
3022       NaN               NaN      NaN           NaN         NaN
3023       NaN               NaN      NaN           NaN         NaN
3024       NaN               NaN      NaN           NaN         NaN
3025       NaN               NaN      NaN           NaN         NaN

                         BusinessUnit  Factor
0               Geomining Innovations     1.0
1               Geomining Innovations     1.0
2     Mineral Extraction Technologies     1.0
3         Deep Earth Exploration Unit     1.0
4         Deep Earth Exploration Unit     1.0
...                               ...     ...
3021                              NaN     NaN
3022                              NaN     NaN
3023                              NaN     NaN
3024                              NaN     NaN
3025                              NaN     NaN

[3026 rows x 7 columns]

In [185]:
# Data Quality Check

## missing_values, missing_all_column_values, missing_some_column
missing_values = df.isnull().sum()

missing_all_column_values = len(rows_missing_all_columns)


rows_missing_all_columns = df[df.isnull().all(axis=1)]


rows_missing_some_columns = df[df.isnull().any(axis=1) & ~df.isnull().all(axis=1)]

# Count the number of rows where at least one column has a missing value, excluding rows with all columns missing
missing_some_column_values = len(rows_missing_some_columns)


duplicates = df.duplicated().sum()

data_types = df.dtypes

In [186]:
print(rows_missing_some_columns)

          Date              name Scenario Figure  Value  \
1955  6/1/2023  Rate (Mt.EFH Km)   Actual  Month    NaN

                 BusinessUnit  Factor
1955  Core Extraction Systems     1.0

In [187]:
# Print the 769th row of the DataFrame
print(df.iloc[1954])  # Note: Python uses zero-based indexing, so the 769th row has index 768

Date                           6/1/2023
name                   Rate (Mt.EFH Km)
Scenario                         Actual
Figure                     Year-To-Date
Value                        3858.64836
BusinessUnit    Core Extraction Systems
Factor                              1.0
Name: 1954, dtype: object

In [188]:
df = df.dropna(how='all')

In [189]:
df['Date'] = pd.to_datetime(df['Date'])

df['Value'] = df['Value'].astype(float)
df['Factor'] = df['Factor'].astype(int)

data_types = df.dtypes

print(data_types)

Date            datetime64[ns]
name                    object
Scenario                object
Figure                  object
Value                  float64
BusinessUnit            object
Factor                   int64
dtype: object

In [190]:
print(df);

           Date                  name Scenario        Figure       Value  \
0    2019-02-01      Rate (Mt.EFH Km)   Actual         Month  6512.41596
1    2019-02-01      Rate (Mt.EFH Km)   Actual         Month  6512.41596
2    2019-02-01      Rate (Mt.EFH Km)   Actual  Year-To-Date  3448.19628
3    2019-02-01           Utility (%)   Actual         Month    81.60000
4    2019-02-01           Utility (%)     Plan  Year-To-Date    71.42400
...         ...                   ...      ...           ...         ...
2252 2024-08-01  Coal Dry Mining (Mt)     Plan  Year-To-Date     1.41636
2253 2024-09-01  Coal Dry Mining (Mt)     Plan  Year-To-Date     1.41636
2254 2024-10-01  Coal Dry Mining (Mt)     Plan  Year-To-Date     1.41636
2255 2024-11-01  Coal Dry Mining (Mt)     Plan  Year-To-Date     1.41636
2256 2024-12-01  Coal Dry Mining (Mt)     Plan  Year-To-Date     1.41636

                         BusinessUnit   Factor
0               Geomining Innovations        1
1               Geomining Innovations        1
2     Mineral Extraction Technologies        1
3         Deep Earth Exploration Unit        1
4         Deep Earth Exploration Unit        1
...                               ...      ...
2252                             ACME  1000000
2253                             ACME  1000000
2254                             ACME  1000000
2255                             ACME  1000000
2256                             ACME  1000000

[2257 rows x 7 columns]

In [191]:
df.reset_index(drop=True, inplace=True)

# Add a new column representing the index number in the first column
df.insert(0, 'Index', df.index)

In [192]:
print(df)

      Index       Date                  name Scenario        Figure  \
0         0 2019-02-01      Rate (Mt.EFH Km)   Actual         Month
1         1 2019-02-01      Rate (Mt.EFH Km)   Actual         Month
2         2 2019-02-01      Rate (Mt.EFH Km)   Actual  Year-To-Date
3         3 2019-02-01           Utility (%)   Actual         Month
4         4 2019-02-01           Utility (%)     Plan  Year-To-Date
...     ...        ...                   ...      ...           ...
2252   2252 2024-08-01  Coal Dry Mining (Mt)     Plan  Year-To-Date
2253   2253 2024-09-01  Coal Dry Mining (Mt)     Plan  Year-To-Date
2254   2254 2024-10-01  Coal Dry Mining (Mt)     Plan  Year-To-Date
2255   2255 2024-11-01  Coal Dry Mining (Mt)     Plan  Year-To-Date
2256   2256 2024-12-01  Coal Dry Mining (Mt)     Plan  Year-To-Date

           Value                     BusinessUnit   Factor
0     6512.41596            Geomining Innovations        1
1     6512.41596            Geomining Innovations        1
2     3448.19628  Mineral Extraction Technologies        1
3       81.60000      Deep Earth Exploration Unit        1
4       71.42400      Deep Earth Exploration Unit        1
...          ...                              ...      ...
2252     1.41636                             ACME  1000000
2253     1.41636                             ACME  1000000
2254     1.41636                             ACME  1000000
2255     1.41636                             ACME  1000000
2256     1.41636                             ACME  1000000

[2257 rows x 8 columns]

In [193]:
# Create a Boolean mask indicating duplicated rows, excluding the 'Index' column
duplicated_mask = df.duplicated(subset=df.columns.difference(['Index']))

# Filter the DataFrame to include only duplicated rows
duplicated_rows = df[duplicated_mask]

# Display the row indexes of duplicated rows
print("Row indexes of duplicated rows:")
print(duplicated_rows)

duplicated_rows.to_csv('duplicated.csv', index=False)

Row indexes of duplicated rows:
    Index       Date              name Scenario        Figure       Value  \
1       1 2019-02-01  Rate (Mt.EFH Km)   Actual         Month  6512.41596
14     14 2019-02-01   Coal Mined (Mt)     Plan  Year-To-Date    15.20316

                   BusinessUnit   Factor
1         Geomining Innovations        1
14  Deep Earth Exploration Unit  1000000

In [194]:
df_cleaned = df[~duplicated_mask]

print(df_cleaned)

df_cleaned.to_csv('cleaned.csv', index=False)

      Index       Date                  name Scenario        Figure  \
0         0 2019-02-01      Rate (Mt.EFH Km)   Actual         Month
2         2 2019-02-01      Rate (Mt.EFH Km)   Actual  Year-To-Date
3         3 2019-02-01           Utility (%)   Actual         Month
4         4 2019-02-01           Utility (%)     Plan  Year-To-Date
5         5 2019-02-01           Utility (%)     Plan         Month
...     ...        ...                   ...      ...           ...
2252   2252 2024-08-01  Coal Dry Mining (Mt)     Plan  Year-To-Date
2253   2253 2024-09-01  Coal Dry Mining (Mt)     Plan  Year-To-Date
2254   2254 2024-10-01  Coal Dry Mining (Mt)     Plan  Year-To-Date
2255   2255 2024-11-01  Coal Dry Mining (Mt)     Plan  Year-To-Date
2256   2256 2024-12-01  Coal Dry Mining (Mt)     Plan  Year-To-Date

           Value                     BusinessUnit   Factor
0     6512.41596            Geomining Innovations        1
2     3448.19628  Mineral Extraction Technologies        1
3       81.60000      Deep Earth Exploration Unit        1
4       71.42400      Deep Earth Exploration Unit        1
5       71.38800      Deep Earth Exploration Unit        1
...          ...                              ...      ...
2252     1.41636                             ACME  1000000
2253     1.41636                             ACME  1000000
2254     1.41636                             ACME  1000000
2255     1.41636                             ACME  1000000
2256     1.41636                             ACME  1000000

[2255 rows x 8 columns]